html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

body {
	display: table;
}

#about {
	width: 100%;
	-webkit-box-align: center;
	display: table-cell;
	vertical-align: middle;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;

	@include media-breakpoint-only(xs) {
		padding-top:50px;
		padding-bottom: 50px;
	}
	@include media-breakpoint-only(sm) {
		padding-top:40px;
		padding-bottom:40px;
	}
	@include media-breakpoint-only(md) {
		padding-top:30px;
		padding-bottom:30px;
	}
	@include media-breakpoint-only(lg) {
		padding-top:20px;
		padding-top:20px
	}
	@include media-breakpoint-only(xl) {
		padding-top:10px;
		padding-top:10px;
	}

	.container {
		@include media-breakpoint-only(xs) {
			width: 80%;
		}
		@include media-breakpoint-only(sm) {
			width: 70%;
		}
		@include media-breakpoint-only(md) {
			width: 60%;
		}
		@include media-breakpoint-only(lg) {
			width: 50%;
		}
		@include media-breakpoint-only(xl) {
			width: 50%;
		}
	}

	.about-header {
		margin-bottom: 1.5em;
	}

	.about-title {
		font-size: 24pt;
		font-family: 'Work Sans', sans-serif;
		padding: 0px;
		color: $text-blue;
		float: left;
		font-weight: bold;
		line-height: 20px;

		
	}

	.about-icons {
		line-height: 20px;
		float: right;
		text-align: right;

		@include media-breakpoint-only(xs) {
			font-size: 18pt;
			text-align: left;
			padding-left: 0;
			margin-top: 5px;
		}
		@include media-breakpoint-up(sm) {
			font-size: 18pt;
		}

		.social-icon {
			color: $text-blue;
			text-decoration: none;
			@include media-breakpoint-only(xs) {
				margin-left: 5px;
			}
			@include media-breakpoint-only(sm) {
				margin-left: 10px;
			}
			@include media-breakpoint-only(md) {
				margin-left: 15px;
			}
			@include media-breakpoint-only(lg) {
				margin-left: 20px;
			}
			@include media-breakpoint-only(xl) {
				margin-left: 25px;
			}

			&.first {
				margin-left: 0px;
			}

			i {
				transition: transform .25s ease-in-out;
			}

			&:hover {
				i {
					transform: scale(1.2);
				}
			}
		}
	}

	.about-text {
		p {
			font-size: 16pt;
			font-family: 'Work Sans', sans-serif;
			color: $text-black;
			text-align: justify;

			a {
				color: $text-blue;

				&:hover {
					text-decoration: underline;
				}
			}

			@include media-breakpoint-only(xs) {
				font-size: 13pt;
			}
			@include media-breakpoint-only(sm) {
				font-size: 14pt;
			}
			@include media-breakpoint-only(md) {
				font-size: 15pt;
			}
			@include media-breakpoint-only(lg) {
				font-size: 16pt;
			}
			@include media-breakpoint-only(xl) {
				font-size: 16pt;
			}
		}
	}
}
