RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.html [NC,L]

#if not already blog.website.com
RewriteCond %{HTTP_HOST} !^photos\.jshao\.me$ [NC] 
#if request is for blog/, go to blog.website.com
RewriteRule ^photos/$ http://photos.jshao.me [L,NC,R=301] 
